.custom-icon-button {
    color: #16697A;  /* Set the color to your desired value */
  }
  
.custom-delete-icon {
    color: orange;
  }

  
.select-add-team {
    margin-left: 15px; /* Adjust the margin as needed */
  }

.detail-delete , .container-add-team , .add-search{
    display: flex; 
    align-items: center ;
    margin-bottom: 16px ;
    justify-content: flex-end;
    gap: 10px;
}




  

  


  