.custom-icon-button {
    color: #16697A;  /* Set the color to your desired value */
  }
  
.custom-delete-icon {
    color: orange;
  }

.container-add-team {
    display: flex;
  }
  
.select-add-team , .button-add-team{
    margin-left: 15px; /* Adjust the margin as needed */
  }
  

  


  