.custom-icon-button {
    color: cyan;  /* Set the color to your desired value */
  }
  
  .custom-delete-icon {
    color: orange;
  }

  .update-delete , .container-add-ligue , .add-search{
    display: flex; 
    align-items: center ;
    margin-bottom: 16px ;
    justify-content: flex-end;
    gap: 10px;
}
  